{
    "Checks":
        [
            "bugprone-*",
            "clang-analyzer-*",
            "cppcoreguidelines-*",
            "llvm-*",
            "misc-*",
            "modernize-*",
            "performance-*",
            "portability-*",
            "readability-*",
            "-readability-identifier-length",
            "-bugprone-easily-swappable-parameters",
            "-misc-non-private-member-variables-in-classes",
        ],
    "CheckOptions":
        {
            "misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic": true,
        },
}
