{
    "Checks": [
        "bugprone-*",
        "clang-analyzer-*",
        "cppcoreguidelines-*",
        "llvm-*",
        "misc-*",
        "modernize-*",
        "performance-*",
        "portability-*",
        "readability-*"
    ]
}
